<header>
  <ul id="nav">
    <label id="InternMe">InternMe</label>
    <ul id="pages">
      <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
        >Home</a
      >
      <a
        routerLink="/explore"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Explore</a
      >
      <a
        routerLink="/company-profile"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Profile</a
      >
      <a
        routerLink="/sign-in"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Login</a
      >
    </ul>
    <button id="shortCut">
      <ul id="links">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </ul>
    </button>
  </ul>
</header>
<body class="flex flex-col items-center gap-6">
  <div
    style="
      background-color: #010517;
      width: 100%;
      height: 40vw;
      position: absolute;
    "
  ></div>
  <div id="container" class="flex flex-col items-center justify-center">
    <img class="w-full" id="desk" src="assets/profile/student.png" />
    <div id="gradient"></div>
    <ul id="profile">
      <img src="assets/profile/model.jpg" />
      <label id="name">{{ info.fullName }}</label>
      <label id="major">{{ info.major }}</label>
      <p>
        {{ info.description }}
      </p>
    </ul>
  </div>

  <div
    class="flex flex-col px-8 md:px-16 py-4 md:py-10 gap-2 md:gap-8 items-center justify-center w-[85vw] md:w-[65vw] bg-gradient-to-r from-[#b0694b] to-[#855162] rounded-xl md:rounded-2xl hover:shadow-2xl"
  >
    <div class="flex flex-row items-center justify-between w-full">
      <h3 class="md:text-4xl text-lg">Basic Information</h3>
      <button>
        <img class="w-5 md:w-8" src="assets/profile/pensil.png" />
      </button>
    </div>
    <div
      class="grid grid-cols-2 md:grid-cols-3 gap-y-4 my-2 md:ml-24 justify-between w-full"
    >
      <div class="flex flex-col text-xs items-start justify-center gap-1">
        <h5 class="text-secondary-200 md:text-base md:font-medium">
          Full&nbsp;Name
        </h5>
        <p class="md:text-xl">{{ info.fullName }}</p>
      </div>
      <div class="flex flex-col text-xs items-start justify-center gap-1">
        <h5 class="text-secondary-200 md:text-base md:font-medium">Email</h5>
        <div class="flex flex-row gap-2">
          <img
            class="h-3 mt-[3px] md:h-5 md:mt-[5px]"
            src="assets/profile/mail.png"
          />
          <p class="md:text-xl">{{ info.email }}</p>
        </div>
      </div>
      <div class="flex flex-col items-start justify-center gap-1 text-xs">
        <h5 class="text-secondary-200 md:text-base md:font-medium">Phone</h5>
        <div class="flex flex-row gap-2">
          <img
            class="mt-[3px] h-3 md:mt-[5px] md:h-5"
            src="assets/profile/phone plus.png"
          />
          <p class="md:text-xl">{{ info.phone }}</p>
        </div>
      </div>
      <div class="flex flex-col text-xs items-start justify-center gap-1">
        <h5 class="text-secondary-200 md:text-base md:font-medium">
          University
        </h5>
        <p class="md:text-xl">{{ info.university }}</p>
      </div>
      <div class="flex flex-col text-xs items-start justify-center gap-1">
        <h5 class="text-secondary-200 md:text-base md:font-medium">Major</h5>
        <p class="md:text-xl">{{ info.major }}</p>
      </div>
    </div>
    <div
      class="ml-4 mt-2 flex w-full flex-row items-start justify-start md:ml-20"
    >
      <button
        class="flex flex-row items-center justify-center gap-4 rounded-full bg-[#f1c6b9] text-[#b0694b] px-4 py-1 md:px-6 md:py-2 hover:shadow-lg hover:bg-[#b0694b] hover:text-[#f1c6b9]"
      >
        <img class="w-3 md:w-6" src="assets/profile/download.png" />
        <h4 class="text-[0.5rem] md:text-lg font-medium">Profile Image</h4>
      </button>
    </div>
  </div>

  <div
    class="gap-6 flex flex-col items-center justify-center md:grid md:grid-cols-2 w-full md:w-[65vw]"
  >
    <div
      class="flex flex-col px-8 h-full md:px-16 py-4 md:py-10 gap-2 md:gap-8 items-center justify-center w-[85vw] md:w-full bg-gradient-to-r from-[#b0694b] to-[#855162] rounded-xl md:rounded-2xl hover:shadow-2xl"
    >
      <div class="flex flex-row items-center justify-between w-full">
        <h3 class="md:text-4xl text-lg">Skills</h3>
        <button>
          <img class="w-5 md:w-8" src="assets/profile/pensil.png" />
        </button>
      </div>
      <div class="grid grid-cols-3 gap-3 text-white pb-3 pt-1">
        <div
          class="rounded-full bg-[#CE8459] py-1 px-2 text-center text-sm md:text-lg"
          *ngFor="let skill of info.skills"
        >
          {{ skill }}
        </div>
      </div>
    </div>

    <div
      class="flex flex-col px-8 h-full md:px-16 pt-8 pb-12 md:py-10 gap-4 md:gap-8 items-center justify-center w-[85vw] md:w-full bg-gradient-to-r from-[#b0694b] to-[#855162] rounded-xl md:rounded-2xl hover:shadow-2xl"
    >
      <div class="flex flex-row items-center justify-between w-full">
        <h3 class="md:text-4xl text-lg">Projects</h3>
        <button>
          <img class="w-5 md:w-8" src="assets/profile/pensil.png" />
        </button>
      </div>
      <div
        class="flex flex-col items-start w-[80%] justify-center md:gap-2 border-b border-b-[#F1C6B9] pb-4 pt-1"
        *ngFor="let project of info.projects"
      >
        <h5 class="text-base md:text-xl font-medium">
          {{ project.title }}
        </h5>
        <p class="text-sm md:text-base text-left text-[#F1C6B9]">
          {{ project.description }}
        </p>
      </div>
    </div>
  </div>
</body>
<footer class="h-24 w-full bg-[#d08261]"></footer>
