<header>
  <ul id="nav">
    <label id="InternMe">InternMe</label>
    <ul id="pages">
      <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
        >Home</a
      >
      <a
        routerLink="/explore"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Explore</a
      >
      <a
        routerLink="/company-profile"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Profile</a
      >
      <a
        routerLink="/sign-in"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Login</a
      >
    </ul>
    <button id="shortCut">
      <ul id="links">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </ul>
    </button>
  </ul>
</header>
<body>
  <div
    style="
      background-color: #010517;
      width: 100%;
      height: 40vw;
      position: absolute;
    "
  ></div>
  <div id="container" class="flex flex-col items-center justify-center">
    <img class="w-full" id="desk" src="assets/profile/student.png" />
    <div id="gradient"></div>
    <ul id="profile">
      <img src="assets/profile/model.jpg" />
      <label id="name">{{ info.fullName }}</label>
      <label id="major">{{ info.major }}</label>
      <p>
        {{ info.description }}
      </p>
    </ul>
  </div>

  <div class="card p-10">
    <ul class="row1">
      <p>Basic Information</p>
      <button style="width: 50px; height: 50px; background-color: transparent">
        <img src="assets/profile/pensil.png" />
      </button>
    </ul>
    <ul class="row2">
      <ul>
        <p class="signs">Full Name</p>
        <p class="info">{{ info.fullName }}</p>
      </ul>
      <ul>
        <p class="signs">Email</p>
        <ul class="one_row">
          <img class="icons" src="assets/profile/mail.png" />
          <p class="info">{{ info.email }}</p>
        </ul>
      </ul>
      <ul>
        <p class="signs">Phone</p>
        <ul class="one_row">
          <img class="icons" src="assets/profile/phone plus.png" />
          <p class="info">{{ info.phone }}</p>
        </ul>
      </ul>
    </ul>
    <ul class="row2">
      <ul>
        <p class="signs">University</p>
        <p class="info">{{ info.university }}</p>
      </ul>
      <ul>
        <p class="signs">Major</p>
        <p class="info">{{ info.major }}</p>
      </ul>
    </ul>
    <ul class="row1">
      <button class="flex flex-row items-center justify-evenly">
        <img class="icons" src="assets/profile/download.png" /><label
          >Upload Resume</label
        >
      </button>
      <button class="flex flex-row items-center justify-evenly">
        <img class="icons" src="assets/profile/download.png" /><label
          >Image Profile</label
        >
      </button>
    </ul>
  </div>

  <div class="card p-10">
    <ul class="row1">
      <p>Description</p>
      <button style="width: 50px; height: 50px; background-color: transparent">
        <img src="assets/profile/pensil.png" />
      </button>
    </ul>
    <p id="description">
      {{ info.description }}
    </p>
  </div>

  <ul id="cards">
    <div class="card p-10" style="margin-right: 0; width: auto">
      <ul class="row1">
        <p>Projects</p>
        <button
          style="width: 50px; height: 50px; background-color: transparent"
        >
          <img src="assets/profile/pensil.png" />
        </button>
      </ul>
      <p id="description">
        {{ info.projectsDescription }}
      </p>
    </div>
    <div class="card p-10" style="margin-left: 0; width: auto">
      <ul class="row1">
        <p>Skills</p>
        <button
          style="width: 50px; height: 50px; background-color: transparent"
        >
          <img src="assets/profile/pensil.png" />
        </button>
      </ul>
      <ul id="skills">
        <div class="skill" *ngFor="let skill of info.skills">{{ skill }}</div>
      </ul>
    </div>
  </ul>
</body>
<footer class="h-24 w-full bg-[#d08261]"></footer>
