<app-navbar></app-navbar>
<body>
  <img src="../../../assets/job.png" />
  <div
    class="info grid grid-cols-1 gap-5 sm:gap-6 md:gap-7 lg:gap-10 xl:gap-14"
  >
    <div class="">
      <div class="mx-auto mt-16 w-1/3">
        <img src="{{ opportunity.company.logo }}" />
      </div>
      <h1
        class="mt-3 text-4xl md:text-5xl lg:mt-5 lg:text-6xl xl:mt-8 xl:text-7xl 2xl:text-8xl font-inter"
      >
        {{ opportunity.company.name }}
      </h1>
    </div>
    <div id="description">
      <h2
        class="text-sm text-secondary-200 sm:mb-1 sm:text-lg md:mb-2 md:text-xl lg:mb-3 lg:text-3xl xl:mb-5 xl:text-4xl 2xl:text-4xl"
      >
        Description
      </h2>
      <p
        class="max-h-[100px] overflow-auto p-3 text-[9px] sm:max-h-[150px] sm:text-xs md:max-h-[200px] md:text-sm lg:max-h-[260px] lg:text-base xl:max-h-[300px] xl:text-lg 2xl:max-h-[350px] 2xl:text-xl"
      >
        {{ opportunity.description }}
      </p>
    </div>
    <div id="responsibilities">
      <h2
        class="text-sm text-secondary-200 sm:mb-1 sm:text-lg md:mb-2 md:text-xl lg:mb-3 lg:text-3xl xl:mb-5 xl:text-4xl 2xl:text-4xl"
      >
        Responsibilities
      </h2>
      <ol
        class="max-h-[100px] overflow-auto p-3 text-[9px] sm:max-h-[150px] sm:text-xs md:max-h-[200px] md:text-sm lg:max-h-[260px] lg:text-base xl:max-h-[300px] xl:text-lg 2xl:max-h-[350px] 2xl:text-xl"
      >
        <li *ngFor="let responsibility of opportunity.responsibilities">
          {{ responsibility }}
        </li>
      </ol>
    </div>
    <div id="qualifications">
      <h2
        class="text-sm text-secondary-200 sm:mb-1 sm:text-lg md:mb-2 md:text-xl lg:mb-3 lg:text-3xl xl:mb-5 xl:text-4xl 2xl:text-4xl"
      >
        Qualifications
      </h2>
      <ol
        class="max-h-[100px] overflow-auto p-3 text-[9px] sm:max-h-[150px] sm:text-xs md:max-h-[200px] md:text-sm lg:max-h-[260px] lg:text-base xl:max-h-[300px] xl:text-lg 2xl:max-h-[350px] 2xl:text-xl"
      >
        <li *ngFor="let qualification of opportunity.qualifications">
          {{ qualification }}
        </li>
      </ol>
    </div>
    <div id="buttons">
      <a
        target="_blank"
        class="cursor-pointer post hover:scale-105 hover:shadow-lg text-center px-4 py-2"
        href="https://www.google.com/about/careers/applications/jobs/results/84327145087607494-software-engineer-early-career-campus"
      >
        Apply Now
      </a>
    </div>
  </div>
</body>
