<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
  </head>
  <header>
    <ul id="nav">
      <label id="InternMe">InternMe</label>
      <button id="shortCut">
        <ul id="pages">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </ul>
      </button>
    </ul>
  </header>
  <body>
    <div id="background">
      <div id="light"></div>
      <img id="backImg" src="assets/sign-in/SignIn 3.jpg" />
    </div>
    <form class="sign">
      <p id="title">Welcome to InternMe!</p>
      <p id="tline">First Website for students</p>
      <div
        style="
          border-bottom: 1px solid #fb7e65;
          width: 25%;
          position: absolute;
          top: 100px;
          left: 38%;
        "
      ></div>
      <ul class="info">
        <p>Username</p>
        <input id="usernameLogin" type="text" placeholder="Username" [(ngModel)]="username" />
        <p>Password</p>
        <input
          id="passwordLogin"
          type="password"
          placeholder="**********"
          [(ngModel)]="password"
        />
      </ul>
      <button id="forgot" (click)="forgotPassword()">Forgot Password?</button>
      <button type="submit" id="in" (click)="signIn()">Sign In</button>
      <button id="dont" (click)="dontHaveAc()">Don't have an account</button>
      <label>Or continue with</label>
      <ul id="options">
        <button>
          <img class="mx-auto" src="assets/logo/googleLogo.png" />
        </button>
        <button><img class="mx-auto" src="assets/logo/appleLogo.png" /></button>
        <button>
          <img class="mx-auto" src="assets/logo/linckedin.webp" />
        </button>
      </ul>
    </form>
    <div id="forgotPasswordModal" class="modal" [style.display]="showModal ? 'block' : 'none'">
      <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>Forgot Password</h2>
        <p>Please enter your email address to recover your password:</p>
        <input type="email" [(ngModel)]="emailForRecovery" placeholder="Your email address">
        <button (click)="sendPasswordRecovery()">Send</button>
      </div>
    </div>
  </body>
</html>
