<app-navbar></app-navbar>
<div class="flex flex-col items-center justify-center gap-10">
  <section class="my-10 flex flex-col items-center justify-center">
    <div class="flex flex-col items-center justify-center gap-4">
      <h2 class="font-yeseva-one text-secondary-150">University Students</h2>
      <div
        class="h-[1px] w-[9.5rem] bg-secondary-150 text-secondary-150 xl:w-[9.5rem]"
      ></div>
      <h1
        class="font-yeseva-one max-w-[50rem] text-center text-[2rem] text-secondary-200 sm:text-[2.5rem] lg:text-[3rem] xl:max-w-[70rem] xl:text-[4rem]"
      >
        Explore your best training opportunities
      </h1>
    </div>
    <img src="assets/homepage/Homepage.jpg" class="-mt-18 -z-10 xl:-mt-28" />
  </section>

  <section class="my-10 flex flex-col items-center justify-center gap-20">
    <div class="flex flex-col items-center justify-center gap-5">
      <div
        class="h-[2px] w-[20rem] bg-secondary-150 text-secondary-150 xl:w-[25.75rem]"
      ></div>
      <h2
        class="font-yeseva-one text-2xl text-secondary-150 sm:text-3xl lg:text-4xl xl:text-5xl"
      >
        Number one website for students
      </h2>
      <div
        class="h-[2px] w-[10rem] bg-secondary-150 text-secondary-150 xl:w-[12.25rem]"
      ></div>
    </div>

    <div
      class="font-yeseva-one flex max-w-[80%] flex-row gap-7 text-lg text-slate-100 sm:text-xl md:max-w-[65.5%] lg:text-2xl xl:text-3xl"
    >
      <p>
        Empower students to effortlessly discover and pursue tailored training
        opportunities, eliminating frustration and streamlining the path to
        academic and professional success.
      </p>
      <p>
        We aim to eliminate frustration and streamline the process, enabling
        students to seamlessly align with their academic and professional
        aspirations.
      </p>
    </div>

    <div class="flex flex-row items-center justify-center">
      <img
        class="max-h-[78px] sm:max-h-[130px] md:max-h-[156px] lg:max-h-[182px] 2xl:max-h-[208px]"
        src="assets/homepage/apple.jpg"
      />
      <img
        class="max-h-[96px] sm:max-h-[160px] md:max-h-[192px] lg:max-h-[224px] 2xl:max-h-[288px]"
        src="assets/homepage/aramco.jpg"
      />
      <img
        class="max-h-[78px] sm:max-h-[130px] md:max-h-[156px] lg:max-h-[182px] 2xl:max-h-[208px]"
        src="assets/homepage/google.jpg"
      />
    </div>
    y

    <div
      class="font-yeseva-one gap-15 flex max-h-64 max-w-[90%] flex-row items-center justify-center text-base text-secondary-200 sm:text-lg md:max-w-[75%] md:gap-20 md:text-xl lg:max-w-[70%] lg:text-2xl xl:max-w-[65%] xl:gap-32 xl:text-3xl"
    >
      <img
        class="max-w-56 md:max-w-72 xl:max-w-96"
        src="assets/homepage/Cup.png"
      />
      <p class="-mt-4">
        Empower students to effortlessly discover and pursue tailored training
        opportunities, eliminating frustration and streamlining the path to
        academic and professional success.
      </p>
    </div>
    <div
      class="font-yeseva-one gap-15 flex max-h-64 max-w-[90%] flex-row items-center justify-center text-base text-secondary-200 sm:text-lg md:max-w-[75%] md:gap-20 md:text-xl lg:max-w-[70%] lg:text-2xl xl:max-w-[65%] xl:gap-32 xl:text-3xl"
    >
      <p class="-mt-4">
        Empower students to effortlessly discover and pursue tailored training
        opportunities, eliminating frustration and streamlining the path to
        academic and professional success.
      </p>
      <img
        class="max-w-56 md:max-w-72 xl:max-w-96"
        src="assets/homepage/Bag.png"
      />
    </div>
  </section>

  <section class="my-10 flex flex-col items-center justify-center gap-20">
    <div class="flex flex-col items-center justify-center gap-5">
      <div
        class="h-[2px] w-[15rem] bg-secondary-150 text-secondary-150 sm:w-[18rem] lg:w-[20rem] xl:w-[25.75rem]"
      ></div>
      <h2
        class="font-yeseva-one text-2xl text-secondary-150 sm:text-3xl lg:text-4xl xl:text-5xl"
      >
        Website Reviews
      </h2>
      <div
        class="h-[2px] w-[10rem] bg-secondary-150 text-secondary-150 sm:w-[11rem] lg:w-[12rem] xl:w-[12.25rem]"
      ></div>
    </div>

    <div class="flex flex-row items-center justify-center">
      <!--<svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 25 25"
        style="fill: #fb7e65; width: 7rem"
      >
        <path
          d="M24 12.001H2.914l5.294-5.295-.707-.707L1 12.501l6.5 6.5.707-.707-5.293-5.293H24v-1z"
          data-name="Left"
        />
      </svg>-->
      <img
        class="max-h-[78px] sm:max-h-[130px] md:max-h-[156px] lg:max-h-[182px] 2xl:max-h-[208px]"
        src="assets/homepage/Review 1.png"
      />
      <img
        class="max-h-[96px] sm:max-h-[160px] md:max-h-[192px] lg:max-h-[224px] 2xl:max-h-[288px]"
        src="assets/homepage/Review 3.png"
      />
      <img
        class="2x:max-h-[208px] max-h-[78px] sm:max-h-[130px] md:max-h-[156px] lg:max-h-[182px]"
        src="assets/homepage/Review 2.png"
      />
      <!--<svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 25 25"
        style="fill: #fb7e65; width: 7rem"
      >
        <path
          d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
          data-name="Right"
        />
      </svg>-->
    </div>
  </section>

  <!--<section class="flex flex-col items-center justify-center mt-36">
    <img class="max-h-72" src="../../../../../assets/homepage/Footer 1.png" />
  </section>-->
</div>
<footer>
  <img id="desk" src="assets/Footer.jpg" />
</footer>
