<header>
  <ul id="nav">
    <label id="InternMe">InternMe</label>
    <ul id="pages">
      <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
        >Home</a
      >
      <a
        routerLink="/explore"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Explore</a
      >
      <a href="">Contact</a>
      <a
        routerLink="/sign-in"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Login</a
      >
    </ul>
    <button id="shortCut">
      <ul id="links">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </ul>
    </button>
  </ul>
</header>
<div class="flex flex-col items-center justify-center gap-10">
  <section class="flex flex-col items-center justify-center">
    <div class="flex flex-col items-center justify-center gap-4">
      <h2 class="text-secondary-150 font-yeseva-one">University Students</h2>
      <div class="text-secondary-150 bg-secondary-150 h-[1px] w-[9.5rem]"></div>
      <h1
        class="font-yeseva-one max-w-[70rem] text-center text-[4rem]/[4.5rem] text-secondary-200"
      >
        Explore your best training opportunities
      </h1>
    </div>
    <img
      src="../../../../../assets/homepage/Homepage.jpg"
      class="-z-10 -mt-28"
    />
  </section>

  <section class="flex flex-col items-center justify-center gap-20">
    <div class="flex flex-col items-center justify-center gap-5">
      <div
        class="text-secondary-150 bg-secondary-150 h-[2px] w-[25.75rem]"
      ></div>
      <h2 class="text-secondary-150 font-yeseva-one text-5xl">
        Number one website for students
      </h2>
      <div
        class="text-secondary-150 bg-secondary-150 h-[2px] w-[12.25rem]"
      ></div>
    </div>

    <div
      class="font-yeseva-one flex max-w-[65.5%] flex-row gap-7 text-3xl text-slate-100"
    >
      <p>
        Empower students to effortlessly discover and pursue tailored training
        opportunities, eliminating frustration and streamlining the path to
        academic and professional success.
      </p>
      <p>
        We aim to eliminate frustration and streamline the process, enabling
        students to seamlessly align with their academic and professional
        aspirations.
      </p>
    </div>

    <div class="flex flex-row items-center justify-center">
      <img class="max-h-52" src="../../../../../assets/homepage/apple.jpg" />
      <img class="max-h-72" src="../../../../../assets/homepage/aramco.jpg" />
      <img class="max-h-52" src="../../../../../assets/homepage/google.jpg" />
    </div>

    <div
      class="font-yeseva-one flex max-h-64 max-w-[65%] flex-row items-center justify-center gap-32 text-3xl text-secondary-200"
    >
      <img class="max-w-96" src="../../../../../assets/homepage/Cup.png" />
      <p class="-mt-4">
        Empower students to effortlessly discover and pursue tailored training
        opportunities, eliminating frustration and streamlining the path to
        academic and professional success.
      </p>
    </div>
    <div
      class="font-yeseva-one flex max-h-64 max-w-[65%] flex-row items-center justify-center gap-32 text-3xl text-secondary-200"
    >
      <p class="-mt-4">
        Empower students to effortlessly discover and pursue tailored training
        opportunities, eliminating frustration and streamlining the path to
        academic and professional success.
      </p>
      <img class="max-w-96" src="../../../../../assets/homepage/Bag.png" />
    </div>
  </section>

  <section class="flex flex-col items-center justify-center gap-20">
    <div class="flex flex-col items-center justify-center gap-5">
      <div
        class="text-secondary-150 bg-secondary-150 h-[2px] w-[25.75rem]"
      ></div>
      <h2 class="text-secondary-150 font-yeseva-one text-5xl">
        Website Reviews
      </h2>
      <div
        class="text-secondary-150 bg-secondary-150 h-[2px] w-[12.25rem]"
      ></div>
    </div>

    <div class="flex flex-row items-center justify-center">
      <!--<svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 25 25"
        style="fill: #fb7e65; width: 7rem"
      >
        <path
          d="M24 12.001H2.914l5.294-5.295-.707-.707L1 12.501l6.5 6.5.707-.707-5.293-5.293H24v-1z"
          data-name="Left"
        />
      </svg>-->
      <img class="max-h-48" src="../../../../../assets/homepage/Review 1.png" />
      <img class="max-h-64" src="../../../../../assets/homepage/Review 3.png" />
      <img class="max-h-48" src="../../../../../assets/homepage/Review 2.png" />
      <!--<svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 25 25"
        style="fill: #fb7e65; width: 7rem"
      >
        <path
          d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
          data-name="Right"
        />
      </svg>-->
    </div>
  </section>

  <!--<section class="flex flex-col items-center justify-center mt-36">
    <img class="max-h-72" src="../../../../../assets/homepage/Footer 1.png" />
  </section>-->
</div>
<footer>
  <img id="desk" src="assets/Footer.jpg" />
</footer>
