<header class="bg-background">
  <nav class="flex py-4">
    <h1 class="basis-1/2 intern-me lg:basis-1/4">InternMe</h1>
    <ul class="basis-1/2 items-center justify-between space-x-6 lg:basis-3/4">
      <li><a href="#" class="text-white font-yeseva-one">Explore</a></li>
      <li><a href="#" class="text-white font-yeseva-one">About</a></li>
      <li><a href="#" class="text-white font-yeseva-one">Contact</a></li>
      <li><a href="#" class="text-white font-yeseva-one">Login</a></li>
    </ul>
  </nav>
</header>
