<header class="bg-background">
  <nav class="flex px-4 py-6">
    <h1 class="intern-me basis-3/4">InternMe</h1>
    <ul
      class="flex basis-1/4 flex-row-reverse items-center justify-between"
    >
      <li><img src="../../../assets/icon/menu.svg"></li>
      <li><a href="#" class="font-yeseva-one text-secondary-200">Explore</a></li>
      <li><a href="#" class="font-yeseva-one text-secondary-200">About</a></li>
      <li><a href="#" class="font-yeseva-one text-secondary-200">Contact</a></li>
      <li><a href="#" class="font-yeseva-one text-secondary-200">Login</a></li>
    </ul>
  </nav>
</header>
