<app-navbar></app-navbar>
<body>
  <div id="search">
    <p id="title_search">Search for an Opportunity</p>
    <div>
      <input type="text" placeholder="Search..." [(ngModel)]="searchQuery" />
      <button type="submit">
        <i class="fas fa-search" aria-hidden="true"
          ><img src="assets/icon/search.png"
        /></i>
      </button>
    </div>
  </div>

  <div id="filter_box" class="flex items-center">
    <img
      src="assets/icon/sort.png"
      class="ml-2 pb-3"
      style="width: 2.5vw; height: auto"
      alt="Sort Icon"
    />
    <select
      id="filter"
      class="rounded border border-gray-300 bg-white px-3 py-2"
    >
      <option value="filter">Filter</option>
      <option value="major">Major</option>
      <option value="city">City</option>
      <option value="field">Field</option>
      <option value="Skills">Skills</option>
    </select>
  </div>

  <div class="cards">
    <ul
      class="cardColumns hover:scale-105 hover:shadow-lg cursor-pointer"
      *ngFor="let opportunity of opportunities"
      (click)="redirectToOpportunityDetails(opportunity._id)"
    >
      <img id="logo" [src]="opportunity.company.logo" />
      <ul class="info">
        <div>{{ opportunity.company.name }}</div>
        <div id="title_major">{{ opportunity.name }}</div>
        <ul>
          <div>
            <img src="assets/icon/clock.png" class="icons" />
            <label>{{ opportunity.duration }}</label>
          </div>
          <div>
            <img src="assets/icon/calendar.png" class="icons" /><label>{{
              opportunity.startingDate
            }}</label>
          </div>
          <div>
            <img src="assets/icon/location.png" class="icons" /><label>{{
              opportunity.location
            }}</label>
          </div>
        </ul>
        <p>{{ opportunity.description }}</p>
        <ul>
          <div class="skill" *ngFor="let skill of opportunity.skills">
            {{ skill }}
          </div>
        </ul>
      </ul>
      <button style="width: 5vw; height: 5vw">
        <img src="assets/icon/save.png" />
      </button>
    </ul>
  </div>

  <ul id="page" class="flex items-center">
    <button
      class="disabled:opacity-40 cursor-pointer disabled:cursor-not-allowed rounded-md disabled:bg-slate-700 flex h-10 w-8 items-center justify-center"
      (click)="previousPage()"
      [disabled]="pageNumber < 2"
    >
      <img src="assets/icon/inline-left.png" class="h-full w-full" />
    </button>
    <div
      class="mx-2 flex h-8 w-8 items-center select-none rounded-md justify-center bg-secondary-100 text-white"
    >
      {{ pageNumber }}
    </div>
    <button
      class="disabled:opacity-40 cursor-pointer disabled:cursor-not-allowed rounded-md disabled:bg-slate-700 flex h-10 w-8 items-center justify-center"
      (click)="nextPage()"
      [disabled]="opportunities.length < opportunitiesPerPage"
    >
      <img src="assets/icon/inline-right.png" class="h-full w-full" />
    </button>
  </ul>
</body>
<footer>
  <img id="desk" src="assets/Footer.jpg" />
</footer>
