@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
header{
    top: 0;
    
}
body{
    margin: 0;
    padding: 0;
    background-color: #010517;

}
#nav{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    background-color: #010517;
}
#InternMe{
    font-size:32px;
    font-family:'Days One';
    background: linear-gradient(to right,#F1C6B9,#FB7E65);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#pages{
    display: grid;
    grid-template-columns: auto auto auto auto;
    
    grid-column-gap: 30px;
}
a{
    text-decoration: none;
    color: #F1C6B9;
    font-size: 25px;
}
img{
    max-width: 100%; 
    height:auto;
    margin-top: 8%;
}


#search{
    color: white;
    font-size: 40px;
    text-align: center;

}
#search > p{
    margin-top: 100px;
    margin-bottom: 10px;
}

#search > div{
    width: 100%;
    text-align: center;
    align-self: center;
}

#search > div > input{
    width: 700px;
    height: 40px;
    border-radius: 20px 0 0 20px;
    background-color: #000539;
    border: 0;
    
}
#search > div >  button{
    position: absolute;
    cursor: pointer;
    background-color: #000539;
    border: 0;
    width: 40px;
    height: 43px;
    margin-top: 11px;
    padding-right: 5px;
    border-radius: 0 20px 20px 0;
}


.cardColumns{
    color: white;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #000324;
    margin-top: 0;
    margin-bottom: 0;
    grid-column-gap: 0;
    justify-content: center;
    font-family: "Inter";

    border-radius: 57px;
    padding: 20px 20px 20px 40px;
    font-size: 20px
}
.cardColumns > img{
    width: 50px;
    height: auto;
    padding-top: 10px;
}
.cardColumns > button{
    background-color: transparent;
    border: 0;

    height: 20px;
    padding: 15px;
}

.info{
    padding: 15px 0 15px 15px;
}
.info > ul{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0;
    margin-top: 15px;  
}


.info > p{
    padding: 0;
    margin-top: 15px;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: 100px;
}